body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: stretch;
}
.day-view{
    flex: 1535 0 0;
}
.month-view{
    flex: 802 0 0;
    background: rgba(42, 46, 65, 0.7);

    padding: 0 102px 0 99px;
    box-sizing: border-box;
}
