@font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/crimsontext/v11/wlppgwHKFkZgtmSR3NB0oRJX1C1GDNNQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZFhiI2B.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZ9hiA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body{
    margin: 0;
    background-color: #1C2833;

    font-family: 'Crimson Text', 'Inter', 'Open Sans';
}

.main__slide{
  flex-basis: 100%;
  max-width: 1075px;
  margin: 0 auto;
  padding: 30px 0 150px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main__line{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.home{
 font-family: 'Open Sans';
 font-style: normal;
 font-weight: 600;
 font-size: 16px;
 line-height: 22px;

 text-align: center;

 color: #FFFFFF;

 background-color: transparent;
 border: none;
}

.news{
  font-family: 'Open Sans';
 font-style: normal;
 font-weight: 600;
 font-size: 16px;
 line-height: 22px;

 text-align: center;

 color: #FFFFFF;

 background-color: transparent;
 border: none;
}

.lifestyle{
  font-family: 'Open Sans';
 font-style: normal;
 font-weight: 600;
 font-size: 16px;
 line-height: 22px;

 text-align: center;

 color: #FFFFFF;

 background-color: transparent;
 border: none;
}

.blog__top{
  font-family: 'Open Sans';
 font-style: normal;
 font-weight: 600;
 font-size: 16px;
 line-height: 22px;

 text-align: center;

 color: #FFFFFF;

 background-color: transparent;
 border: none;
}

.header{
    display: flex;
    justify-content: flex-start;

    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 46px;
    color: #FFFFFF;
}

.header__block{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.header__list{
  list-style-type: none;
  
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.header__list a {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;

    color: #FFFFFF;
    text-decoration: none;
}

.header__list li{
  margin: 0 70px;
  padding-top: 20px;

  font-weight: 600;
  font-size: .9285rem;
}

.main__line ::after{
  content: '';
  position: absolute;
  top: 45px;
  left: 90%;
  
  display: block;
    box-sizing: border-box;

    width: 30.63px;
    border-top: 1px solid #FFFFFF;

    transform: translateX(-50%);
}

.main__line ::before{
  content: '';
  position: absolute;
  top: 60px;
  left: 90.5%;
  
  display: block;
    box-sizing: border-box;

    width: 15.5px;
    border-top: 1px solid #FFFFFF;

    transform: translateX(-50%);
  
}

.discover{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  padding-top: 189px;
}

.main__header{
  display: flex;
  flex-direction: column;
  margin: 0;
}

.title{
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
}

.text{
    display: block;
    padding-top: 25px;
    padding-right: 79px;

    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 2.5em;
    color: #A1A1BB;

    width: 487px;
    height: 131px;
}

.searcher{
  width: 477px;
  height: 60px;
  
  position: relative;
  left: 0;
  top: 5%;
  z-index: 0;

  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 46px;
}

.vector__1{
  width: 88px;
  height: 65px;
  background-color: #57CAEB;

  position: relative;
  top: -45%;
  right: -70%;
  
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle__1{
  width: 803px;
  height: 534px;
  background-color: #C4C4C4;

  position: relative;
  top: 0;
  right: 0%;
  z-index: 0;
}

.rectangle__2{
  width: 56px;
  height: 56px;
  background-color: #FDD231;

  position: relative;
  top: -5%;
  left: 70%;
  z-index: 1;
}
.rectangle__3{
  width: 50px;
  height: 50px;

  background-color: #41CAAE;
  transform: rotate(-60deg);
  position: relative;
  top: 85%;
  left: -2%;
  z-index: 1;
}

.rectangle__4{
  width: 50px;
  height: 50px;
  border: 1px solid #FFFFFF;
  transform: rotate(-60deg);

  position: relative;
  top: 78%;
  left: -2%;
  z-index: 1;
}

.rectangle__17{
  position: relative;
  top: -100px;
  left: 67%;
  z-index: -2;
}

.rectangle__18{
  position: relative;
  top: -75px;
  left: 53%;
  z-index: -2;
}

.rectangle__19{
  position: relative;
  top: -55px;
  left: 40%;
  z-index: -2;
}

.rectangle__20{
  position: relative;
  top: -40px;
  left: 27%;
  z-index: -2;
}

.rectangle__21{
  position: relative;
  top: -38px;
  left: 16%;
  z-index: -2;
}

.rectangle__22{
  position: relative;
  top: -45px;
  left: 6%;
  z-index: -2;
}

.second__line{
  display: flex;
  justify-content: space-between;
  margin-top: 184px;
}
.header__2{
    display: flex;
    justify-content: flex-start;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 6px;
    color: #FFFFFF;
}

.different__news{
  display: flex;
  flex-direction: row;
  
}
.fourth__header{
  display: block;
  overflow: hidden;
}
.rectangle__5{
  width: 510px;
  height: 460px;
}

.rectangle__6{
  width: 329px;
  height: 285px;
}



.start{
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 1.3em;
  

  color: #FFFFFF;

  position: relative;
  top: 5%;
  padding-bottom: 10%;

  width: 550px;
  height: 98px;
}




.learning{
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 38px;

  color: #FFFFFF;
}

.develop{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  
  font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 2.5rem;
    color: #A1A1BB;

    width: 421px;
    height: 77px;
}

.habit{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  font-size:1.3rem;
  line-height: 2.5rem;

  color: #A1A1BB;

  width: 301px;
  height: 77px;
}

.rectangle__7{
  width: 100px;
  height: 100px;

  background-color: #C4C4C4;
}

.slider__show{
  display: flex;
  transition: .8s;
}



.slide{
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 200%;

  padding-top: 20%;
}

.slide__buttons{
  padding-top: 20px;
}

.slide__next{
  background: transparent;
  border: none;

  position: relative;
  left: 70%;
}

.slide__prev{
  transform: rotateZ(180deg);
  background: transparent;
  border: none;
}

.who__block{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;

  padding-left: 5%;
}

.who{
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  
  color: #FFFFFF;
}

.race{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.5em;

  color: #A1A1BB;
}

.fifth__header{
  flex-basis: 100%;
  max-width: 441px;
  margin: 0 auto;

  position: relative;
  top: -800px;
  left: 60%;
}

.more__news{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 4px;
  color: #FFFFFF;

  padding-bottom: 61px;
}

.corona{
  font-family: 'Inter';
  font-style: normal;
  font-size: 26px;
  line-height: 38px;
  
  color: #FFFFFF;
}

.danger{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  font-size:1.3rem;
  line-height: 2.5rem;

  color: #A1A1BB;
}

.lime{
  position: relative;
  padding-top: 10%;
}
.guide{
  font-family: 'Inter';
  font-style: normal;
  font-size: 26px;
  line-height: 38px;
  
  color: #FFFFFF;
  
  padding-top: 67px;
}

.enjoy{
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  font-size:1.3rem;
  line-height: 2.5rem;

  color: #A1A1BB;
}

.header__3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.5px;
  
  padding-left: 20%;
  
  color: #888888;
}

.trending{
  position: relative;
  left: -10%;
}
.trending__news{
  width: 780px;
  height: 845px;
  padding-bottom: 184px;
  margin: 30px auto;

  overflow: hidden;
}

.middle__trending{
  height: 845px;
  width: 1560px;
  display: flex;
  position: relative;

  left: 0;
  transition: all ease 1s;
}


.slider__next{
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .9rem;
    width: 100px;
    height: 50px;
    position: relative;
    z-index: 0;
    top: 400px;
    left: 10%;

    border: none;
    background: transparent;
    
}

.slider__prev{
  border-radius: 4px;
    padding: 10px 20px;
    font-size: .9rem;
    width: 100px;
    height: 50px;
    position: relative;
    z-index: 1;

    top: 370px;
    left: -55%;

    border: none;
    background: transparent;
}



.second__trend{
  width:730px;
  padding-left: 60px;
}
.first__trend{
  width: 730px;
}

.increase{
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 55px;
  
  letter-spacing: 0.5px;

  color: #FFFFFF;

  width: 683px;
  
}
.middle__section{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-between;
}

.line__footer{
  padding-top: 44px;
}

.beauty{
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  
  letter-spacing: 0.5px;

  color: #FFFFFF;

  width: 730px;

}
.grey__block{
  width: 730px;
  height: 485px;
  
  background: #C4C4C4;
}

.have{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;

  color: #A1A1BB;

  padding-top: 37px;
}

.lingardinho{
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;

  color: #FFFFFF;

  display: flex;
  justify-content: center;
}

.check{
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;

  color: #FFFFFF;

}

.line__footer{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-between;
}
.ellipse__1{
  width: 35px;
  height: 35px;
}
.header__4{
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 46px;


  text-align: center;

  color: #FFFFFF;
}

.header__5{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 19.999px;
  line-height: 30px;
  
  text-align: center;

  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.7;
}

.blog{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
  
  padding-top: 74px;

  margin-bottom: 20px;
}


.rectangle__8{
  width: 260px;
  height: 325px;

  background: #C4C4C4;
}

.text__2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 19.999px;
  line-height: 30px;
  
  color: #FFFFFF;

  mix-blend-mode: normal;
}

.text__3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;

  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.7;
}

.rectangle__9{
  width: 260px;
  height: 325px;

  background: #C4C4C4;
}

.rectangle__10{
  width: 260px;
  height: 325px;

  background: #C4C4C4;

}

.rectangle__11{
  width: 260px;
  height: 325px;

  background: #C4C4C4;

}

.text__4, .text__6, .text__8{
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 19.999px;
  line-height: 30px;
  
  color: #FFFFFF;

  mix-blend-mode: normal;
}

.text__5, .text__7, .text__9{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;

  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.7;
}

.fifth__line{
  padding-top: 148px;
  
}

.sixth__header{
  width: 1300px;
  height: 400px;
  
  background-color: #3A3A3A;
  position: relative;
  left: -30%;
}


.subscription{
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;

  letter-spacing: 0.5px;

  color: #FFFFFF;

  position: relative;
  left: 15%;
  top: 40%;
}

.email{
  width: 460px;
  height: 80px;
  
  background: #FFFFFF;
  border-radius: 50px;
}

.email__form{
  position: relative;
  top: 13%;
  left: 60%;
}

.vector__2{
  width: 112px;
  height: 66px;

  background: #222222;
  border-radius: 50px;

  position: relative;
  top: -45%;
  right: 10%;
  z-index: 1;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #FFFFFF;

}

.header__7{
  padding-top: 94px;

  font-family:'Crimson Text';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 76px;

  letter-spacing: 0.214286px;
  color: #FFFFFF;
}

.free{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 25px;

  letter-spacing: 0.5px;

  color: #FFFFFF;
  width: 276px;
  height: 50px;
}

.header__8, .header__9, .header__10{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 36px;

  letter-spacing: 0.5px;

  color: #FFFFFF;
}

.footer__2, .footer__4, .footer__6{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 36px;
  
  letter-spacing: 0.5px;
  
  color: #FFFFFF;
  list-style: none;
}

.footer__line{
  display: flex;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  flex-grow: 1;
  flex-shrink: 1;
}

.line__8{
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .discover{
    flex-direction: column;
  }
  .vector__1{
    position: relative;
    top: 20%;
    right: -37%;
  }
  .different__news{
    flex-direction: column;
  }
  .fourth__header{
    display: block;
    overflow: hidden;
  }
  .develop{
    position: relative;
    top: -50px;
  }
  .header__4{
    text-align: center;
  }
  .blog{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    padding-top: 74px;
  
    margin-bottom: 20px;
  }
  .footer__line{
    display: flex;
    flex-direction: column;
  }
  .footer{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .header__block{
    display: flex;
   
  }
  .fifth__header{
    top: 40px;
    left: 0px;
   }
   .slider__prev{
    top: 34%;
  }

  
}

@media (max-width: 768px) {
  .main__line{
    flex-direction: column;
  }
.vector__1{
  position: relative;
  top: -65px;
  right: -400px;
}
  .header__list{
    justify-content: flex-end;
    flex-grow: 25%;
  }

  .subscription{
    width: 50px;
    top: 5%;
  }

  .email__form{
    width: 20px;
    left: 10%;
  }

  .vector__2{
    top:-75px;
    left: 350px;
  }

  .fifth__header{
    top: 40px;
  }
  .fourth__header{
    display: block;
    overflow: hidden;
  }
  .slider__prev{
    top: 30.5%;
    left: -10px;
  }
}